<footer class="app-footer">
  <p>
    Theme again by
    <a href="https://github.com/DrakeLeung/hexo-theme-again">
      Drake Leung
    </a>
    Powered by <a href="https://hexo.io"> Hexo </a>
  </p>
</footer>
